server:
  port: 8081

spring:
  application:
    name: catalogue-service
  rabbitmq:
    host: rabbitmq
    port: 5672
    username: guest
    password: guest

eureka:
  client:
    service-url:
      defaultZone: http://service-eureka:8761/eureka/
  instance:
    prefer-ip-address: true
